<!--@subject {{var userName}}{{trans " Reported Issue "}}{{trans " at "}}{{var date}}{{trans " "}}{{var time}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
{{template config_path="design/email/header_template"}}
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top" style="padding:20px 0 20px 0">
            <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650"
                   style="border:1px solid #E0E0E0;">
                <tr>
                    <td valign="top">
                        <h1 style="font-size:22px;font-weight:normal;line-height:22px;margin:0 0 11px 0;">{{trans "Dear
                        Admin,"}}</h1>
                    </td>
                </tr>
                <tr>
                    <p>{{var userName}}{{trans "Reported Issue "}} {{trans "
                    at"}} {{var date}} {{trans " "}} {{var time}}</p>
                </tr>
                <tr>
                    <p>{{trans "Below are the details : " }}</p>
                </tr>
                <tr>
                    <td>
                        <table cellspacing="0" cellpadding="0" width="650">
                            <tbody>
                            <tr>
                                <td colspan="2" valign="top"
                                    style="font-size:12px;padding:7px 9px 9px 9px;border:1px solid #EAEAEA;font-weight: bold;">
                                    {{trans "User Name "}}
                                </td>
                                <td colspan="2" valign="top"
                                    style="font-size:12px;padding:7px 9px 9px 9px;border:1px solid #EAEAEA;">
                                    {{var userName}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" valign="top"
                                    style="font-size:12px;padding:7px 9px 9px 9px;border:1px solid #EAEAEA;font-weight: bold;">
                                    {{trans "Email ID "}}
                                </td>
                                <td colspan="2" valign="top"
                                    style="font-size:12px;padding:7px 9px 9px 9px;border:1px solid #EAEAEA;">
                                    {{var emailId}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" valign="top"
                                    style="font-size:12px;padding:7px 9px 9px 9px;border:1px solid #EAEAEA;font-weight: bold;">
                                    {{trans "Issue Title "}}
                                </td>
                                <td colspan="2" valign="top"
                                    style="font-size:12px;padding:7px 9px 9px 9px;border:1px solid #EAEAEA;">
                                    {{var issueTitle}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" valign="top"
                                    style="font-size:12px;padding:7px 9px 9px 9px;border:1px solid #EAEAEA;font-weight: bold;">
                                    {{trans "Issue Description "}}
                                </td>
                                <td colspan="2" valign="top"
                                    style="font-size:12px;padding:7px 9px 9px 9px;border:1px solid #EAEAEA;">
                                    {{var issueDescription}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <strong>{{trans "Thanks"}}</strong>
                        </p>
                        <p>{{trans "Team Magento"}}</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}
